<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<section layout:fragment="contents"
	class="d-flex justify-content-center">

	<div class="memo-box my-5">

		<h1 class="text-center">메모 리스트</h1>

		<table class="table text-center my-4">

			<thead>
				<tr>
					<td>No.</td>
					<td>제목</td>
					<td>작성시간</td>
				</tr>
			</thead>

			<tbody>
				<tr th:each="memo : ${memoList}">
					<td th:text="${memo.id}"></td>
					<td><a th:href="|/post/detail-view?id=${memo.id}|" th:text="${memo.title}"></a></td>
					<td th:text="${#temporals.format(memo.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>

			</tbody>

		</table>

		<div class="d-flex justify-content-end">
			<a href="/post/create-view" class="btn btn-secondary">글쓰기</a>
		</div>

	</div>
</section>

</html>