<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<section layout:fragment="contents" class="contents justify-content-center">

	<div class="user-box my-5 p-5 rounded-lg">

		<h1 class="text-center">회원 가입</h1>

		<input type="text" class="form-control mt-2" id="emailInput" placeholder="이메일">
		
		<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호"> 
		<input type="password" class="form-control mt-2" id="passwordConfirmInput" placeholder="비밀번호 확인"> 
		
		<input type="text" class="form-control mt-2" id="nameInput" placeholder="이름"> 
		
		<input type="text" class="form-control mt-4" id="usernameInput" placeholder="username">
		<button type="button" class="btn btn-secondary btn-block mt-3" id="dupilicateBtn">중복확인</button>
		
		<div id="duplicateText" class="small text-danger d-none">중복된 아이디 입니다.</div>
		<div id="availableText" class="small text-success d-none">사용가능한 아이디 입니다.</div>
		
		<button type="button" class="btn btn-secondary btn-block mt-3" id=joinBtn>가입</button>

	</div>

</section>

<script layout:fragment="script">
	$("#dupilicateBtn").on("click", function() {
		let username = $("#usernameInput").val();

		if (username === "") {
			alert("아이디를 입력하세요");
			return;
		}

		$.ajax({
			type : "get",
			url : "/user/duplicate-id",
			data : {"username" : username
			},
			successs : function(response) {
				if (response.isDuplicate) {
					//중복됨
					$("#duplicateText").removeClass("d-none");
					$("#availableText").addClass("d-none");
				} else {
					//중복안됨
					$("#availableText").removeClass("d-none");
					$("#duplicateText").addClass("d-none");
				}
			},
			error : function() {
				alert("중복확인 에러");
			}

		});
	});

	$("#joinBtn").on("click", function() {
		let username = $("#usernameInput").val();
		let password = $("#passwordInput").val();
		let passwordConfirm = $("#passwordConfirmInput").val();
		let name = $("#nameInput").val();
		let email = $("#emailInput").val();

		if (username === "") {
			alert("아이디를 입력하세요");
			return;
		}

		if (password === "") {
			alert("비밀번호를 입력하세요");
			return;
		}

		if (password !== passwordConfirm) {
			alert("비밀번호가 일치하지 않습니다");
			return;
		}

		if (name === "") {
			alert("이름을 입력하세요");
			return;
		}

		if (email === "") {
			alert("이메일을 입력하세요");
			return;
		}

		$.ajax({
			type : "POST",
			url : "/user/join",
			data : {
				email : email,				
				password : password,
				name : name,
				username : username
			},
			success : function(response) {
				if (response.result === "success") {
					location.href = "/user/login-view";
				} else {
					alert("회원 가입 실패!");
				}
			},
			error : function() {
				alert("회원 가입 에러!");
			}
		});
	});
	
</script>
</html>
